@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf') ;
}

.changebg{
    background:url(https://i.pinimg.com/736x/af/18/4a/af184a5bfc0ddffeaeecd9459eb0a1ac.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

.container {
    border: 2px solid #410445;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    max-width: 640px;
    margin-right: auto;
    padding: 20px;
    box-sizing:border-box;
    margin-top: 120px;


    background: transparent;
    box-shadow: 0 0 70px  #FCD8D4;
    border-radius: 20px;
 
    backdrop-filter: blur(40px);

}



.header  {
    font-size: 50px;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;

    color: white ;
}

.header-form{
    width: 120px;



}

.flex{
    display: flex;
}

.form-input{
    margin-bottom: 10px;
    color: #1E212D;
}

input.form, textarea{
    border: 1px solid #D14D72;
    background-color: #FBFBFB;
    border-radius: 3px;
    width: 100%;
    
}

.center{
    text-align: center;
}

.message{
    margin-buttom: 10px;
    padding: 10px;
    background-color: white;
    display: none;
}

.message.success{
    background-color: lightgreen;
    display: block;
}

.message.danger{
    background-color: lightcoral;
    display: block;
}

.button {
    transition-duration: 0.5s;
    background-color: white;
    margin-top: 10px;
    
 }
 
 .button1 {
    background-color: white;
    color: #6A2C70;

    font-size: 19px;
    border: 2px solid #6A2C70;
    border-radius: 9px;
    padding: 10px 200px;
 }
 
 .button1:hover{
    background-color: #6A2C70;
    color: white;
 
 }

 .button2 {
    background-color: white;
    color: #6A2C70;
    border: 2px solid #6A2C70;

    margin-top: 10px;
    border-radius: 9px;
    padding: 5px;
 }
 
 .button2:hover{
    background-color: #6A2C70;
    color: white;
 
 }
 





@media screen and (max-width: 768px){
    .flex{
        flex-direction: column;
    }
    .header{
        font-size: px;
    }
    .button{
        width: 100%;
    }
}